.name {
  font: normal 26px/36px Roboto;
  color: #88affe;

  & img {
    margin-left: 10px;
  }
}

.email {
  font: normal 16px/24px Roboto;
  color: #d6e3fd;
  margin-top: 15px;
}

.edit,
.logout {
  margin-top: 25px;
}
