.input {
  font: normal 15px Roboto;
  padding: 15px;
  border: 1px solid #526db7;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: 0.1s linear all;

  &::placeholder {
    color: #88affe;
  }

  &:focus {
    border: 1px solid #88affe;
  }

  &.large {
    font: normal 32px Roboto;
    padding: 17px 20px;
  }

  &.withTip {
    padding: 15px 100px 15px 15px;
  }
}

.wrapper {
  position: relative;
}

.tip {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font: normal 32px Roboto;
  color: #88affe;
  pointer-events: none;
}

.dark {
  background-color: #213775;
  color: #fff;
}

.bright {
  background-color: #fff;
  color: #222;
}
