.title {
  font: normal 26px Roboto;
  color: #fff;
  margin-bottom: 15px;
}

.text {
  font: normal 16px/24px Roboto;
  color: #88affe;
}

.buttons {
  width: 250px;
  margin-top: 25px;
}

.copy {
  margin: 15px 0 25px;
}

.warning {
  font: bold 16px Roboto;
  color: #da2222;
  margin-bottom: 15px;
}
